/* The below comes from jqtouch.css */

* {
    margin: 0;
    padding: 0;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a.detail {
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}

hr {
  margin: 5px 0;
}

.about-image {
  margin-left: 5px;
}
.ititle {
    width: 220px
}

#ajaxloader {
  height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: Helvetica;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}

.selectable, input, textarea {
    -webkit-user-select: auto;
}

body.fullscreen > * {
    min-height: 460px !important;
}
body.fullscreen.black-translucent > * {
    min-height: 480px !important;
}
body.landscape > * {
    min-height: 320px;
}

/* End of CSS included from jqtouch.css */

body {
    color: #000000;
    margin: 0;
    padding: 0;
    -webkit-user-select:none;  /* from iScroll at http://cubiq.org/iscroll */
    -webkit-text-size-adjust:none;
}
body > * {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#5e5e65));
}
h1, h2 {
    font: bold 18px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    margin: 10px 20px 5px;
}

/* @group Toolbar */
.toolbar {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #000;
    padding: 9px;
    height: 43px;
    position: relative;
    /* Cross-browser support for gradient */
    background: #B5C0CE; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5C0CE', endColorstr='#6D83A1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#B5C0CE), to(#6D83A1)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #B5C0CE, #6D83A1); /* for firefox 3.6+ */ 
}

.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    top: 10px;
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.button, .back, .cancel, .add, .newbutton, .newbluebutton {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
}

.button, .back, .cancel, .add, .newbutton {
    -moz-border-image: url(img/button.png) 0 5 0 5 round round;
    -webkit-border-image: url(img/button.png) 0 5 0 5 round round;
    -o-border-image: url(img/button.png) 0 5 0 5 round round;
    border-image: url(img/button.png) 0 5 0 5 round round;
}

.button {
   background-image: url(img/button2.png);
}
.blueButton {
    -moz-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    -o-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    border-image: url(img/blueButton.png) 0 5 0 5 round round;
    border-width: 0 5px;
}

.BlankButton {
    -moz-border-image: url(img/button_white.png) 0 5 0 5 round round;
    -webkit-border-image: url(img/button_white.png) 0 5 0 5 round round;
    -o-border-image: url(img/button_white.png) 0 5 0 5 round round;
    border-image: url(img/button_white.png) 0 5 0 5 round round;
}

.leftButton, .cancel {
    left: 6px;
    right: auto;
}

.newbutton, .newbluebutton {
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-width: 0 5px;
    border-radius: 5px;
    background-position: center;
    background-size: 30px 30px;
}

.newbutton {
    background-image: url(img/button2.png);
/*    -moz-border-image: url(img/button.png) 0 5 0 5 round round;
    -webkit-border-image: url(img/button.png) 0 5 0 5 round round;
    -o-border-image: url(img/button.png) 0 5 0 5 round round;
    border-image: url(img/button.png) 0 5 0 5 round round; */
}

.newbluebutton {
    background-image: url(img/blueButton2.png);
/*    -moz-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    -o-border-image: url(img/blueButton.png) 0 5 0 5 round round;
    border-image: url(img/blueButton.png) 0 5 0 5 round round; */
}

.add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.whiteButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}
.whiteButton {
    -moz-border-image: url(img/whiteButton.png) 0 12 0 12;
    -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
    -o-border-image: url(img/whiteButton.png) 0 12 0 12;
    border-image: url(img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.grayButton {
    -moz-border-image: url(img/grayButton.png) 0 12 0 12;
    -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
    -o-border-image: url(img/grayButton.png) 0 12 0 12;
    border-image: url(img/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}
/* @end */
/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}
/* @end */
/* @group Toggle */
.toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}
.toggle input[type="checkbox"]:checked {
    left: 0px;
}
.toggle input[type="checkbox"] {
    -webkit-appearance: textarea;
    -webkit-border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s;
    background-color: transparent;
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    border: 0;
    height: 27px;
    left: -55px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 149px;
}
/* @end */
/* @group Info */
.info {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: #444;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.2);
    font-weight: bold;
}
/* @end */

/*  Johnny's Modifications Below */

.gridcal {
    width: 100%;
}

.gridcal td {
   text-align: center;
   text-shadow: rgba(255, 255, 255, 0.7) 0 1px 1px;
}

.monthname {
   /* Cross-browser support for gradient */
   background: #F6F6F7; /* for non-css3 browsers */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F7', endColorstr='#D4D4D8'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F7), to(#D4D4D8)); /* for webkit browsers */
   background: -moz-linear-gradient(top, #F6F6F7, #D4D4D8); /* for firefox 3.6+ */ 
   color: #545454;
   font-weight: bold;
}

.monthname td {
   font-size: 24px;
}

.dayofweek td {
   font-size: 10px;
   color: #545454;
   font-weight: bold;
   border-bottom: 1px solid #A7AAB2;
   /* Cross-browser support for gradient */
   background: #D4D4D8; /* for non-css3 browsers */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4D4D8', endColorstr='#CCCCD1'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D8), to(#CCCCD1)); /* for webkit browsers */
   background: -moz-linear-gradient(top, #D4D4D8, #CCCCD1); /* for firefox 3.6+ */ 
}

.dom {
    background-color: #E1E0E3;
}

.dom td {
   color: #000000;
   font-size: 24px;
   text-align: center;
   line-height: 17px;
   vertical-align: top;
   padding-top: 6px;
   padding-bottom: 10px;
   border-top: 1px solid #F3F3F5;
   border-bottom: 1px solid #A7AAB2;
   border-right: 1px solid #F3F3F5;
   border-left: 1px solid #A7AAB2;
   font-weight: bold;
   width: 44px;
}

.dom td div {
  -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.3)));
}

.dom td span {
   vertical-align: bottom;
   position:relative;
   top: 5px;
   line-height: 1px;
   display: block;
}

.dom .enotthismonth {
   color: #FFFFFF;
   /* Cross-browser support for gradient */
   background: #E0E0E0; /* for non-css3 browsers */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#909090'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#909090)); /* for webkit browsers */
   background: -moz-linear-gradient(top, #E0E0E0, #909090); /* for firefox 3.6+ */ 
   text-shadow: rgba(0,0,0,1) 0 -1px 1px;
   border: 1px solid #293649;
}

.dom .ecurrent {
   color: #FFFFFF;
   text-shadow: rgba(0,0,0,1) 0 -1px 1px;
   border: 1px solid #293649;
   /* Cross-browser support for gradient */
   background: #72B1EF; /* for non-css3 browsers */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72B1EF', endColorstr='#0072E2'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#72B1EF), to(#0072E2)); /* for webkit browsers */
   background: -moz-linear-gradient(top, #72B1EF, #0072E2); /* for firefox 3.6+ */ 
}

.dom .etoday {
   -webkit-box-shadow: inset 0 0 3px 3px #303030;
   color: #FFFFFF;
   border: 1px solid #000000;
   background: #7389A5;
   text-shadow: rgba(0,0,0,1) 0 -1px 1px;
}

.dom .etodayandcurrent {
   -webkit-box-shadow: inset 0 0 3px 3px #303030;
   color: #FFFFFF;
   border: 1px solid #000000;
   background: #1980E5;
   text-shadow: rgba(0,0,0,1) 0 -1px 1px;
}

.elist {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border-collapse: collapse;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elist td {
    border-bottom: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    text-overflow: ellipsis;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.am {
    font-weight: normal;
    color: #808080;
    font-size: 14px;
    padding-bottom: 5px;
}

.etime {
    background-repeat: no-repeat;
    background-position: 10px; 0;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
    white-space: nowrap;
    width: 70px;
}

#mydaylist {
    display: none;
}

#mytodaylist {
    width: 100%;
    display: none;
}

.daydate td {
   /* Cross-browser support for gradient */
   background: #93A1AC; /* for non-css3 browsers */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93A1AC', endColorstr='#B7C0C7'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#93A1AC), to(#B7C0C7)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #93A1AC,  #B7C0C7); /* for firefox 3.6+ */ 

/*   text-shadow: rgba(0,0,0,1) 0 1px 1px; */
   color: #FFFFFF;
   font-weight: bold;
   font-size: 18px;
   text-align: right;
   border-top: 1px solid #B1BCC3;
   border-bottom: 1px solid #94A1AA;
   padding-right: 10px;
   padding-top: 0;
   padding-bottom: 0;
}

#eventdetail {
   display: none;   /* Hide on startup */
   background-color: #FFFFFF;
   width: 300px;
/*   background: -webkit-gradient(linear, left top, left 100%, from(#D0D0D0), color-stop(50%, #FFFFFF), to(#FFFFFF)); */
}

#backbutton {
   display: none;
    position: relative;
    top: -5px;
}

#aboutthisapp{
    background-color: #FFFFFF;
    display: none;
    width: 100%;
    height: 100%;
}

#aboutthisapp table td {
  padding: 5px;
}

#options {
    background-color: #D0D0D0;
    display: none;
    width: 100%;
    height: 100%;
}

/* Options table to choose a city */

#optiontable {
   color: #000000;
   width: 200px;
   margin-top: 10px;
   border-collapse: collapse;
}

#optiontable div {
   padding: 10px;
   border: thin solid black;
   background-color: #FFFFFF;
   font-size: 20px;
   text-align: left;
}

/*  From iScroll at http://cubiq.org/iscroll  */

#wrapper {
	position:relative;
	z-index:1;
	width:100%;
	background:#aaa;
	overflow:hidden;
}

#scroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}

.noevents {
        display: none;
}

/* End of iScroll CSS */

/* Highlight an event link when user clicks to see the details page */
.selected_event_link {
   border: 1px solid #155678;
   background: #4596CE;
   font-weight: bold;
   color: white;
   cursor: pointer;
   text-shadow: 0 -1px 1px #145072;
   text-decoration: none;
   background-image: -webkit-gradient(linear,left top,left bottom,from(#85bae4),to(#5393c5));
   background-image: -webkit-linear-gradient(top,#85bae4,#5393c5);
   background-image: -moz-linear-gradient(top,#85bae4,#5393c5);
   background-image: -ms-linear-gradient(top,#85bae4,#5393c5);
   background-image: -o-linear-gradient(top,#85bae4,#5393c5);
   background-image: linear-gradient(top,#85bae4,#5393c5);
   outline: 0;
}

.selected_event_link > td {
    background-color : transparent;
}

#pagetitle {
    position: absolute;
    overflow: hidden;
    top: 10px;
    margin: 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    left:0px;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
